<p style="color: green"><%= notice %></p>

<h1>Friends</h1>

<div id="friends">
  <% @friends.each do |friend| %>
    <%= render friend %>
    <p>
      <%= link_to "Show this friend", friend %>
    </p>
    <p>
      <%= link_to "Edit this friend", edit_friend_path(friend) %>
    </p>
    <p>
      <%= button_to "Delete this friend", friend, method: :delete %>
    </p>
  <% end %>
</div>

<%= link_to "New friend", new_friend_path %>
